*~
*.o
.deps
.libs
.version
.*.swp
*.gdb
.gdbinit
.gdb_history

/ChangeLog
/CREDITS

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/*.gdb
/ioctls.h
/ioctldefs.h
/ioctlsort
/strace
/test-driver

/linux/ioctlent.h

/strace-*.tar.xz
