*~
*.o
.deps
.libs
.version
.*.swp
*.gdb
core
.gdbinit
.gdb_history

/ChangeLog
/CREDITS

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/*.gdb
/strace
/test-driver

/ioctlent[012].h
/ioctls_all[012].h
/ioctlsort[012]

/strace-*.tar.xz

/tests-m32
/tests-mx32
