*.gcda
*.gcno
*.gdb
*.o
*~
.*.swp
.deps
.gdb_history
.gdbinit
.libs
/*.mpers.i
/.version
/CREDITS
/ChangeLog
/aclocal.m4
/autom4te.cache
/bpf_attr_check.c
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnu
/INSTALL
/install-sh
/ioctl_iocdef.[ih]
/ioctl_redefs[12].h
/ioctlent[012].h
/ioctls_all[012].h
/ioctlsort[012]
/libmpers-m32.a
/libmpers-mx32.a
/libstrace.a
/linux/linux
/m32_funcs.h
/m32_printer_decls.h
/m32_printer_defs.h
/m32_type_defs.h
/missing
/mpers-m32
/mpers-m32.stamp
/mpers-mx32
/mpers-mx32.stamp
/mpers.am
/mpers_xlat.h
/mx32_funcs.h
/mx32_printer_decls.h
/mx32_printer_defs.h
/mx32_type_defs.h
/native_printer_decls.h
/native_printer_defs.h
/printers.h
/README
/scno.h
/sen.h
/stamp-h1
/strace
/strace-*.tar.gz
/strace-*.tar.xz
/strace.1
/strace-log-merge.1
/strace.dsc
/strace.spec
/sys_func.h
/syscallent.i
/test-driver
/tests-m32
/tests-mx32
Makefile
Makefile.in
core
