# Map git author names and email addresses to canonical/preferred form.
<ak@linux.intel.com>	<ak@suse.de>
<chenjingpiao@gmail.com>	<chenjingpiao@foxmail.com>
<dgilbert@redhat.com>	<dave@treblig.org>
<holger@freyther.de>	<zecke@selfish.org>
<kirill@shutemov.name>	<kirill.shutemov@linux.intel.com>
<schwab@linux-m68k.org>	<schwab@redhat.com>
<schwab@linux-m68k.org>	<schwab@suse.de>
<thomas.de.schampheleire@gmail.com>	<thomas.de_schampheleire@nokia.com>
<vda.linux@googlemail.com>	<dvlasenk@redhat.com>
Eugene Syromyatnikov	<evgsyr@gmail.com>
