*--secontext
*--secontext.c
*--secontext_full
*--secontext_full.c
*.dir
*.gen.test
*.log
*.o
*.trs
_newselect
_newselect-P
accept
accept4
access
acct
add_key
adjtimex
aio
aio_pgetevents
alarm
answer
attach-f-p
attach-f-p-cmd
attach-p-cmd-cmd
attach-p-cmd-p
block_reset_raise_run
block_reset_run
bpf
bpf-obj_get_info_by_fd
bpf-obj_get_info_by_fd-prog
bpf-obj_get_info_by_fd-prog-v
bpf-obj_get_info_by_fd-v
bpf-success
bpf-success-long-y
bpf-success-v
bpf-v
brk
btrfs
caps
caps-abbrev
chdir
check_sigblock
check_sigign
chmod
chown
chown32
chroot
clock_adjtime
clock_adjtime64
clock_nanosleep
clock_xettime
clock_xettime64
clone-flags
clone3
clone3-Xabbrev
clone3-Xraw
clone3-Xverbose
clone3-success
clone3-success-Xabbrev
clone3-success-Xraw
clone3-success-Xverbose
clone_parent
clone_parent--quiet-exit
clone_parent-q
clone_parent-qq
clone_ptrace
clone_ptrace--quiet-attach
clone_ptrace--quiet-exit
clone_ptrace-q
clone_ptrace-qq
close_range
copy_file_range
count-f
creat
delay
delete_module
dev--decode-fds-dev
dev--decode-fds-path
dev--decode-fds-socket
dev-yy
dup
dup-P
dup-y
dup-yy
dup2
dup2-P
dup2-y
dup2-yy
dup3
dup3-P
dup3-y
dup3-yy
epoll_create
epoll_create1
epoll_ctl
epoll_pwait
epoll_pwait2
epoll_pwait2-P
epoll_pwait2-y
epoll_wait
erestartsys
eventfd
execve
execve-v
execveat
execveat-v
faccessat
faccessat-P
faccessat-y
faccessat-yy
faccessat2
faccessat2-P
faccessat2-y
faccessat2-yy
fadvise64
fadvise64_64
fallocate
fanotify_init
fanotify_mark
fanotify_mark-Xabbrev
fanotify_mark-Xraw
fanotify_mark-Xverbose
fchdir
fchmod
fchmod-y
fchmodat
fchown
fchown32
fchownat
fcntl
fcntl--pidns-translation
fcntl64
fcntl64--pidns-translation
fdatasync
fflush
file_handle
filter-unavailable
filter_seccomp-flag
filter_seccomp-perf
finit_module
flock
fork--pidns-translation
fork-f
fsconfig
fsconfig-P
fsmount
fsopen
fspick
fspick-P
fstat
fstat-Xabbrev
fstat-Xraw
fstat-Xverbose
fstat64
fstat64-Xabbrev
fstat64-Xraw
fstat64-Xverbose
fstatat64
fstatfs
fstatfs64
fsync
fsync-y
ftruncate
ftruncate64
futex
futimesat
gen_tests.am
get_mempolicy
get_process_reaper
getcpu
getcwd
getdents
getdents-v
getdents64
getdents64-v
getegid
getegid32
geteuid
geteuid32
getgid
getgid32
getgroups
getgroups32
getpeername
getpgrp
getpgrp--pidns-translation
getpid
getpid--pidns-translation
getppid
getrandom
getresgid
getresgid32
getresuid
getresuid32
getrlimit
getrusage
getsid
getsid--pidns-translation
getsockname
gettid
gettid--pidns-translation
getuid
getuid32
getxgid
getxpid
getxuid
group_req
inet-cmsg
init_module
inject-nf
inotify
inotify_init
inotify_init-y
inotify_init1
inotify_init1-y
int_0x80
io_uring_enter
io_uring_register
io_uring_setup
ioctl
ioctl_block
ioctl_block--pidns-translation
ioctl_dm
ioctl_dm-v
ioctl_evdev
ioctl_evdev-Xabbrev
ioctl_evdev-Xraw
ioctl_evdev-Xverbose
ioctl_evdev-success
ioctl_evdev-success-Xabbrev
ioctl_evdev-success-Xraw
ioctl_evdev-success-Xverbose
ioctl_evdev-success-v
ioctl_evdev-success-v-Xabbrev
ioctl_evdev-success-v-Xraw
ioctl_evdev-success-v-Xverbose
ioctl_evdev-v
ioctl_evdev-v-Xabbrev
ioctl_evdev-v-Xraw
ioctl_evdev-v-Xverbose
ioctl_fiemap
ioctl_fiemap-Xabbrev
ioctl_fiemap-Xraw
ioctl_fiemap-Xverbose
ioctl_fiemap-success
ioctl_fiemap-success-Xabbrev
ioctl_fiemap-success-Xraw
ioctl_fiemap-success-Xverbose
ioctl_fiemap-success-v
ioctl_fiemap-success-v-Xabbrev
ioctl_fiemap-success-v-Xraw
ioctl_fiemap-success-v-Xverbose
ioctl_fs_f
ioctl_fs_f-Xabbrev
ioctl_fs_f-Xraw
ioctl_fs_f-Xverbose
ioctl_fs_x
ioctl_fs_x-Xabbrev
ioctl_fs_x-Xraw
ioctl_fs_x-Xverbose
ioctl_fs_x-success
ioctl_fs_x-success-Xabbrev
ioctl_fs_x-success-Xraw
ioctl_fs_x-success-Xverbose
ioctl_gpio
ioctl_gpio-Xabbrev
ioctl_gpio-Xraw
ioctl_gpio-Xverbose
ioctl_gpio-success
ioctl_gpio-success-Xabbrev
ioctl_gpio-success-Xraw
ioctl_gpio-success-Xverbose
ioctl_gpio-success-v
ioctl_gpio-success-v-Xabbrev
ioctl_gpio-success-v-Xraw
ioctl_gpio-success-v-Xverbose
ioctl_gpio-v
ioctl_gpio-v-Xabbrev
ioctl_gpio-v-Xraw
ioctl_gpio-v-Xverbose
ioctl_hdio
ioctl_hdio-Xabbrev
ioctl_hdio-Xraw
ioctl_hdio-Xverbose
ioctl_hdio-success
ioctl_hdio-success-Xabbrev
ioctl_hdio-success-Xraw
ioctl_hdio-success-Xverbose
ioctl_hdio-success-v
ioctl_hdio-success-v-Xabbrev
ioctl_hdio-success-v-Xraw
ioctl_hdio-success-v-Xverbose
ioctl_hdio-v
ioctl_hdio-v-Xabbrev
ioctl_hdio-v-Xraw
ioctl_hdio-v-Xverbose
ioctl_inotify
ioctl_kvm_run
ioctl_kvm_run-v
ioctl_kvm_run_auxstr_vcpu
ioctl_loop
ioctl_loop-nv
ioctl_loop-v
ioctl_mtd
ioctl_mtd-success
ioctl_nbd
ioctl_nsfs
ioctl_perf
ioctl_perf-success
ioctl_ptp
ioctl_random
ioctl_rtc
ioctl_rtc-success
ioctl_rtc-v
ioctl_scsi
ioctl_seccomp
ioctl_seccomp--pidns-translation
ioctl_seccomp-success
ioctl_seccomp-y
ioctl_seccomp-y-success
ioctl_seccomp-y-success-Xabbrev
ioctl_seccomp-y-success-Xraw
ioctl_seccomp-y-success-Xverbose
ioctl_seccomp-y-success--pidns-translation
ioctl_seccomp-y-success--pidns-translation-Xabbrev
ioctl_seccomp-y-success--pidns-translation-Xraw
ioctl_seccomp-y-success--pidns-translation-Xverbose
ioctl_sg_io_v3
ioctl_sg_io_v4
ioctl_sock
ioctl_sock_gifconf
ioctl_tee
ioctl_ubi
ioctl_ubi-success
ioctl_uffdio
ioctl_v4l2
ioctl_v4l2-Xabbrev
ioctl_v4l2-Xraw
ioctl_v4l2-Xverbose
ioctl_v4l2-success
ioctl_v4l2-success-Xabbrev
ioctl_v4l2-success-Xraw
ioctl_v4l2-success-Xverbose
ioctl_v4l2-success-v
ioctl_v4l2-success-v-Xabbrev
ioctl_v4l2-success-v-Xraw
ioctl_v4l2-success-v-Xverbose
ioctl_v4l2-v
ioctl_v4l2-v-Xabbrev
ioctl_v4l2-v-Xraw
ioctl_v4l2-v-Xverbose
ioctl_watchdog
ioperm
iopl
ioprio
ioprio--pidns-translation
ioprio-Xabbrev
ioprio-Xraw
ioprio-Xverbose
ip_mreq
ipc
ipc_msg
ipc_msg-Xabbrev
ipc_msg-Xraw
ipc_msg-Xverbose
ipc_msgbuf
ipc_msgbuf-Xabbrev
ipc_msgbuf-Xraw
ipc_msgbuf-Xverbose
ipc_sem
ipc_sem-Xabbrev
ipc_sem-Xraw
ipc_sem-Xverbose
ipc_shm
ipc_shm-Xabbrev
ipc_shm-Xraw
ipc_shm-Xverbose
is_linux_mips_n64
kcmp
kcmp-y
kcmp-y--pidns-translation
kern_features
kernel_version
kernel_version-Xabbrev
kernel_version-Xraw
kernel_version-Xverbose
kexec_file_load
kexec_load
keyctl
keyctl-Xabbrev
keyctl-Xraw
keyctl-Xverbose
kill
kill--pidns-translation
kill_child
ksysent
ksysent.h
landlock_add_rule
landlock_add_rule-y
landlock_create_ruleset
landlock_create_ruleset-success
landlock_create_ruleset-success-y
landlock_create_ruleset-y
landlock_restrict_self
landlock_restrict_self-y
lchown
lchown32
libtests.a
link
linkat
list_sigaction_signum
llseek
localtime
lookup_dcookie
looping_threads
lseek
lstat
lstat64
madvise
maybe_switch_current_tcp
maybe_switch_current_tcp--quiet-thread-execve
mbind
mbind-Xabbrev
mbind-Xraw
mbind-Xverbose
membarrier
memfd_create
memfd_create-Xabbrev
memfd_create-Xraw
memfd_create-Xverbose
memfd_secret
memfd_secret-success
memfd_secret-success-y
migrate_pages
migrate_pages--pidns-translation
mincore
mkdir
mkdirat
mknod
mknodat
mlock
mlock2
mlockall
mmap
mmap-Xabbrev
mmap-Xraw
mmap-Xverbose
mmap64
mmap64-Xabbrev
mmap64-Xraw
mmap64-Xverbose
mmsg
mmsg-silent
mmsg_name
mmsg_name-v
modify_ldt
mount
mount-Xabbrev
mount-Xraw
mount-Xverbose
mount_setattr
mount_setattr-P
move_mount
move_mount-P
move_pages
move_pages--pidns-translation
move_pages-Xabbrev
move_pages-Xraw
move_pages-Xverbose
mq
mq_sendrecv
mq_sendrecv-read
mq_sendrecv-write
msg_control
msg_control-v
msg_name
munlockall
nanosleep
net--decode-fds-dev-netlink
net--decode-fds-none-netlink
net--decode-fds-path-netlink
net--decode-fds-socket-netlink
net-accept-connect
net-icmp_filter
net-packet_mreq
net-packet_mreq-Xabbrev
net-packet_mreq-Xraw
net-packet_mreq-Xverbose
net-sockaddr
net-sockaddr--pidns-translation
net-tpacket_req
net-tpacket_stats
net-tpacket_stats-success
net-y-unix
net-yy-inet
net-yy-inet6
net-yy-netlink
net-yy-unix
netlink_audit
netlink_audit--pidns-translation
netlink_crypto
netlink_generic
netlink_inet_diag
netlink_kobject_uevent
netlink_netfilter
netlink_netlink_diag
netlink_protocol
netlink_route
netlink_selinux
netlink_sock_diag
netlink_unix_diag
netlink_xfrm
newfstatat
nfnetlink_acct
nfnetlink_cthelper
nfnetlink_ctnetlink
nfnetlink_ctnetlink_exp
nfnetlink_cttimeout
nfnetlink_ipset
nfnetlink_nft_compat
nfnetlink_nftables
nfnetlink_osf
nfnetlink_queue
nfnetlink_ulog
nlattr
nlattr_br_port_msg
nlattr_crypto_user_alg
nlattr_dcbmsg
nlattr_fib_rule_hdr
nlattr_ifaddrlblmsg
nlattr_ifaddrmsg
nlattr_ifinfomsg
nlattr_ifla_af_spec
nlattr_ifla_brport
nlattr_ifla_linkinfo
nlattr_ifla_port
nlattr_ifla_proto_down_reason
nlattr_ifla_xdp
nlattr_ifla_xdp-y
nlattr_inet_diag_msg
nlattr_inet_diag_req_compat
nlattr_inet_diag_req_v2
nlattr_mdba_mdb_entry
nlattr_mdba_router_port
nlattr_ndmsg
nlattr_ndtmsg
nlattr_netconfmsg
nlattr_netlink_diag_msg
nlattr_nlmsgerr
nlattr_packet_diag_msg
nlattr_rtgenmsg
nlattr_rtmsg
nlattr_smc_diag_msg
nlattr_tc_stats
nlattr_tca_stab
nlattr_tcamsg
nlattr_tcmsg
nlattr_unix_diag_msg
nsyscalls
nsyscalls-d
old_mmap
old_mmap-P
old_mmap-Xabbrev
old_mmap-Xraw
old_mmap-Xverbose
old_mmap-v-none
oldfstat
oldlstat
oldselect
oldselect-P
oldselect-efault
oldselect-efault-P
oldstat
open
open_tree
open_tree-P
openat
openat2
openat2-Xabbrev
openat2-Xraw
openat2-Xverbose
openat2-v
openat2-v-y
openat2-v-y-Xabbrev
openat2-v-y-Xraw
openat2-v-y-Xverbose
openat2-y
orphaned_process_group
osf_utimes
pause
pc
perf_event_open
perf_event_open_nonverbose
perf_event_open_unabbrev
personality
personality-Xabbrev
personality-Xraw
personality-Xverbose
pidfd_getfd
pidfd_getfd-y
pidfd_getfd-yy
pidfd_open
pidfd_open--decode-fd-path
pidfd_open--decode-fd-pidfd
pidfd_open--decode-fd-socket
pidfd_open--pidns-translation
pidfd_open-P
pidfd_open-y
pidfd_open-yy
pidfd_send_signal
pidfd_send_signal--pidns-translation
pidns-cache
pipe
pipe2
pkey_alloc
pkey_free
pkey_mprotect
poke
poke-sendfile
poll
poll-P
ppoll
ppoll-P
ppoll-v
prctl-arg2-intptr
prctl-cap-ambient
prctl-capbset
prctl-dumpable
prctl-fp-mode
prctl-mce-kill
prctl-name
prctl-no-args
prctl-pac-enabled-keys
prctl-pac-enabled-keys-Xabbrev
prctl-pac-enabled-keys-Xraw
prctl-pac-enabled-keys-Xverbose
prctl-pac-enabled-keys-success
prctl-pac-enabled-keys-success-Xabbrev
prctl-pac-enabled-keys-success-Xraw
prctl-pac-enabled-keys-success-Xverbose
prctl-pac-reset-keys
prctl-pdeathsig
prctl-sched-core
prctl-sched-core-Xabbrev
prctl-sched-core-Xraw
prctl-sched-core-Xverbose
prctl-sched-core--pidns-translation
prctl-sched-core--pidns-translation-Xabbrev
prctl-sched-core--pidns-translation-Xraw
prctl-sched-core--pidns-translation-Xverbose
prctl-sched-core-success
prctl-sched-core-success-Xabbrev
prctl-sched-core-success-Xraw
prctl-sched-core-success-Xverbose
prctl-sched-core-success--pidns-translation
prctl-sched-core-success--pidns-translation-Xabbrev
prctl-sched-core-success--pidns-translation-Xraw
prctl-sched-core-success--pidns-translation-Xverbose
prctl-seccomp-filter-v
prctl-seccomp-strict
prctl-securebits
prctl-securebits-success
prctl-securebits-success-Xabbrev
prctl-securebits-success-Xraw
prctl-securebits-success-Xverbose
prctl-set-ptracer-success
prctl-set-ptracer-success-Xabbrev
prctl-set-ptracer-success-Xraw
prctl-set-ptracer-success-Xverbose
prctl-set-ptracer-success--pidns-translation
prctl-set-ptracer-success-Xabbrev--pidns-translation
prctl-set-ptracer-success-Xraw--pidns-translation
prctl-set-ptracer-success-Xverbose--pidns-translation
prctl-spec-inject
prctl-sve
prctl-syscall-user-dispatch
prctl-tagged-addr
prctl-tagged-addr-Xabbrev
prctl-tagged-addr-Xraw
prctl-tagged-addr-Xverbose
prctl-tagged-addr-success
prctl-tagged-addr-success-Xabbrev
prctl-tagged-addr-success-Xraw
prctl-tagged-addr-success-Xverbose
prctl-tid_address
prctl-tsc
prctl-unalign
pread64-pwrite64
preadv
preadv-pwritev
preadv2-pwritev2
print_maxfd
print_ppid_tracerpid
printpath-umovestr
printpath-umovestr-peekdata
printpath-umovestr-undumpable
printsignal-Xabbrev
printsignal-Xraw
printsignal-Xverbose
printstr
printstrn-umoven
printstrn-umoven-peekdata
printstrn-umoven-undumpable
prlimit64
prlimit64--pidns-translation
prlimit64-success
prlimit64-success--pidns-translation
process_madvise
process_madvise-y
process_madvise-yy
process_vm_readv
process_vm_readv--pidns-translation
process_vm_writev
process_vm_writev--pidns-translation
pselect6
pselect6_time64
ptrace
ptrace-Xabbrev
ptrace-Xraw
ptrace-Xverbose
ptrace_syscall_info
ptrace_syscall_info-Xabbrev
ptrace_syscall_info-Xraw
ptrace_syscall_info-Xverbose
pure_executables.am
pwritev
qual_fault
qual_inject-error-signal
qual_inject-retval
qual_inject-signal
qual_signal
quotactl
quotactl-Xabbrev
quotactl-Xraw
quotactl-Xverbose
quotactl-success
quotactl-success-v
quotactl-v
quotactl-xfs
quotactl-xfs-success
quotactl-xfs-success-v
quotactl-xfs-v
quotactl_fd
quotactl_fd-P
quotactl_fd-y
read-write
readahead
readdir
readlink
readlinkat
readv
reboot
recv-MSG_TRUNC
recvfrom
recvfrom-MSG_TRUNC
recvmmsg-timeout
recvmsg
redirect-fds
remap_file_pages
remap_file_pages-Xabbrev
remap_file_pages-Xraw
remap_file_pages-Xverbose
rename
renameat
renameat2
request_key
restart_syscall
riscv_flush_icache
rmdir
rt_sigaction
rt_sigpending
rt_sigprocmask
rt_sigqueueinfo
rt_sigqueueinfo--pidns-translation
rt_sigreturn
rt_sigsuspend
rt_sigtimedwait
rt_tgsigqueueinfo
rt_tgsigqueueinfo--pidns-translation
run_expect_termsig
s390_guarded_storage
s390_guarded_storage-v
s390_pci_mmio_read_write
s390_runtime_instr
s390_sthyi
s390_sthyi-v
sched_get_priority_mxx
sched_rr_get_interval
sched_xetaffinity
sched_xetaffinity--pidns-translation
sched_xetattr
sched_xetattr--pidns-translation
sched_xetparam
sched_xetparam--pidns-translation
sched_xetscheduler
sched_xetscheduler--pidns-translation
sched_yield
scm_rights
scno.h
seccomp-filter
seccomp-filter-v
seccomp-strict
seccomp_get_action_avail
seccomp_get_notif_sizes
seccomp_get_notif_sizes-success
secontext.am
select
select-P
semop
semop-indirect
semtimedop
semtimedop-ipc
semtimedop_time64
sendfile
sendfile64
set_mempolicy
set_mempolicy-Xabbrev
set_mempolicy-Xraw
set_mempolicy-Xverbose
set_ptracer_any
set_sigblock
set_sigign
setdomainname
setfsgid
setfsgid32
setfsuid
setfsuid32
setgid
setgid32
setgroups
setgroups32
sethostname
setns
setpgrp-exec
setregid
setregid32
setresgid
setresgid32
setresuid
setresuid32
setreuid
setreuid32
setrlimit
setrlimit-Xabbrev
setrlimit-Xraw
setrlimit-Xverbose
setuid
setuid32
shmxt
shutdown
sigaction
sigaltstack
siginfo
signal
signal_receive
signal_receive--pidns-translation
signalfd4
sigpending
sigprocmask
sigreturn
sigsuspend
sleep
so_error
so_linger
so_peercred
so_peercred--pidns-translation
so_peercred-Xabbrev
so_peercred-Xraw
so_peercred-Xverbose
sock_filter-v
sock_filter-v-Xabbrev
sock_filter-v-Xraw
sock_filter-v-Xverbose
sockaddr_xlat-Xabbrev
sockaddr_xlat-Xraw
sockaddr_xlat-Xverbose
socketcall
sockopt-sol_netlink
sockopt-timestamp
splice
stack-fcall
stack-fcall-attach
stack-fcall-mangled
stat
stat64
statfs
statfs64
status-all
status-failed
status-failed-long
status-failed-status
status-none
status-none-f
status-none-threads
status-successful
status-successful-long
status-successful-status
status-unfinished
status-unfinished-threads
statx
strace--strings-in-hex
strace--strings-in-hex-all
strace--strings-in-hex-non-ascii
strace-n
strace-x
strace-xx
swap
sxetmask
symlink
symlinkat
sync
sync_file_range
sync_file_range2
syscallent.i
sysinfo
syslog
syslog-success
tampering-notes
tee
tgkill
tgkill--pidns-translation
threads-execve
threads-execve--quiet-thread-execve
threads-execve-q
threads-execve-qq
threads-execve-qqq
time
timer_create
timer_xettime
timerfd_xettime
times
times-Xabbrev
times-Xraw
times-Xverbose
times-fail
tkill
tkill--pidns-translation
tracer_ppid_pgid_sid
trie_test
truncate
truncate64
ugetrlimit
uio
umask
umount
umount2
umoven-illptr
umovestr
umovestr-illptr
umovestr2
umovestr3
umovestr_cached
umovestr_cached_adjacent
uname
unblock_reset_raise
unix-pair-send-recv
unix-pair-sendto-recvfrom
unlink
unlinkat
unshare
userfaultfd
ustat
utime
utimensat
utimensat-Xabbrev
utimensat-Xraw
utimensat-Xverbose
utimes
vfork-f
vhangup
vmsplice
wait4
wait4-v
waitid
waitid-v
waitpid
xattr
xattr-strings
xet_robust_list
xet_robust_list--pidns-translation
xet_thread_area_x86
xetitimer
xetpgid
xetpgid--pidns-translation
xetpriority
xetpriority--pidns-translation
xettimeofday
zeroargc
