aio
bpf
caps
epoll_create1
eventfd
execve
execveat
fanotify_mark
filter-unavailable
getrandom
inet-accept-connect-send-recv
ioctl
ip_mreq
ipc_msg
ipc_msgbuf
ipc_sem
ipc_shm
memfd_create
mmap
mmap64
mmsg
mq
net-accept-connect
netlink_inet_diag
netlink_unix_diag
oldselect
pc
pipe
ppoll
readlink
readlinkat
rt_sigqueueinfo
sched_xetattr
scm_rights
seccomp
select
sendfile
sendfile64
set_ptracer_any
sigaction
sigaltstack
signalfd
sigreturn
stack-fcall
stat
stat32
statfs
sysinfo
time
uid
uid16
uid32
uio
umovestr
umovestr2
unix-pair-send-recv
utime
utimensat
wait
xattr
xet_robust_list
*.log
*.log.*
*.o
*.tmp
*.tmp-*
*.tmp.*
*.trs
