*.log
*.log.*
*.o
*.tmp
*.tmp-*
*.tmp.*
*.trs
_newselect
adjtimex
aio
alarm
attach-f-p
attach-p-cmd-cmd
attach-p-cmd-p
bpf
caps
clock_nanosleep
clock_xettime
copy_file_range
epoll_create1
eventfd
execve
execve-v
execveat
execveat-v
fanotify_mark
fcntl
fcntl64
file_handle
filter-unavailable
fork-f
fstat
fstat64
fstatat64
ftruncate
ftruncate64
getdents
getdents64
getrandom
getrusage
getxxid
inet-cmsg
ioctl
ip_mreq
ipc_msg
ipc_msgbuf
ipc_sem
ipc_shm
ksysent
ksysent.h
libtests.a
llseek
lseek
lstat
lstat64
membarrier
memfd_create
mincore
mlock2
mmap
mmap64
mmsg
mq
nanosleep
net-accept-connect
net-y-unix
net-yy-inet
net-yy-unix
netlink_inet_diag
netlink_unix_diag
newfstatat
oldselect
pc
personality
pipe
poll
ppoll
pselect6
readdir
readlink
readlinkat
readv
recvmsg
rename
restart_syscall
rt_sigpending
rt_sigprocmask
rt_sigqueueinfo
rt_sigsuspend
rt_sigtimedwait
rt_tgsigqueueinfo
sched_xetaffinity
sched_xetattr
scm_rights
seccomp
select
sendfile
sendfile64
set_ptracer_any
sigaction
sigaltstack
signalfd
sigreturn
sleep
splice
stack-fcall
stat
stat64
statfs
sysinfo
tee
time
timer_create
timer_xettime
timerfd_xettime
times
times-fail
truncate
truncate64
uid
uid16
uid32
uio
umask
umount
umount2
umovestr
umovestr2
uname
unix-pair-send-recv
userfaultfd
utime
utimensat
vfork-f
vmsplice
wait
xattr
xet_robust_list
xetitimer
xetpgid
xettimeofday
