/*.mpers.i
/bpf_attr_check.c
/config.h
/config.h.in
/disable_ptrace_get_syscall_info
/disable_ptrace_getregset
/gnu
/ioctl_iocdef.[ih]
/ioctl_redefs[12].h
/ioctlent[012].h
/ioctls_all[012].h
/ioctlsort[012]
/libmpers-m32.a
/libmpers-mx32.a
/libstrace.a
/linux/generic/linux
/m32_funcs.h
/m32_printer_decls.h
/m32_printer_defs.h
/m32_type_defs.h
/mpers-m32
/mpers-m32.stamp
/mpers-mx32
/mpers-mx32.stamp
/mpers.am
/mpers_xlat.h
/mx32_funcs.h
/mx32_printer_decls.h
/mx32_printer_defs.h
/mx32_type_defs.h
/native_printer_decls.h
/native_printer_defs.h
/printers.h
/scno.h
/sen.h
/stamp-h1
/strace
/sys_func.h
/syscallent.i
