name: CI

on: [push, pull_request]

permissions: {}

env:
  SLEEP_A_BIT: sleep 0.2
  VERBOSE: 1

jobs:
  whitespace-errors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: check
        run: git diff-index --check --cached 4b825dc642cb6eb9a060e54bf8d69288fbee4904

  coverage: # the longest of all build jobs
    runs-on: ubuntu-24.04
    env:
      CHECK: coverage
      CC: gcc
      TARGET: x86_64
      KHEADERS: torvalds/linux
      STACKTRACE: libdw
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: install dependencies
        run: ci/install-dependencies.sh
      - name: build check
        run: ci/run-build-and-tests.sh
      - name: upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          plugins: gcov
          token: ${{ secrets.CODECOV_TOKEN }}
          working-directory: src

  build-check:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-22.04, ubuntu-24.04]
        cc: [gcc-14, gcc-13, gcc-12, gcc-11, gcc-10, gcc-9, clang-18, clang-17, clang-16, clang-15, clang-14, musl-gcc]
        target: [x86, x86_64]
        variant: [kheaders, nostacktrace, libdw, libunwind]
        exclude:
          # x86 does not have libdw and libunwind
          - target: x86
            variant: libdw
          - target: x86
            variant: libunwind
          # x86_64 nostacktrace only for musl-gcc
          - target: x86_64
            variant: nostacktrace
            cc: gcc-9
          - target: x86_64
            variant: nostacktrace
            cc: gcc-10
          - target: x86_64
            variant: nostacktrace
            cc: gcc-11
          - target: x86_64
            variant: nostacktrace
            cc: gcc-12
          - target: x86_64
            variant: nostacktrace
            cc: gcc-13
          - target: x86_64
            variant: nostacktrace
            cc: gcc-14
          - target: x86_64
            variant: nostacktrace
            cc: clang-14
          - target: x86_64
            variant: nostacktrace
            cc: clang-15
          - target: x86_64
            variant: nostacktrace
            cc: clang-16
          - target: x86_64
            variant: nostacktrace
            cc: clang-17
          - target: x86_64
            variant: nostacktrace
            cc: clang-18
          # musl-gcc only (x86_64, nostacktrace)
          - cc: musl-gcc
            target: x86
          - cc: musl-gcc
            target: x86_64
            variant: kheaders
          - cc: musl-gcc
            target: x86_64
            variant: libdw
          - cc: musl-gcc
            target: x86_64
            variant: libunwind
          # ubuntu-22.04 only for: gcc-9, gcc-10, gcc-11, musl-gcc
          - runner: ubuntu-24.04
            cc: gcc-9
          - runner: ubuntu-24.04
            cc: gcc-10
          - runner: ubuntu-24.04
            cc: gcc-11
          - runner: ubuntu-24.04
            cc: musl-gcc
          # ubuntu-24.04 only for: gcc-12..14, clang-14..18
          - runner: ubuntu-22.04
            cc: gcc-12
          - runner: ubuntu-22.04
            cc: gcc-13
          - runner: ubuntu-22.04
            cc: gcc-14
          - runner: ubuntu-22.04
            cc: clang-14
          - runner: ubuntu-22.04
            cc: clang-15
          - runner: ubuntu-22.04
            cc: clang-16
          - runner: ubuntu-22.04
            cc: clang-17
          - runner: ubuntu-22.04
            cc: clang-18
    name: Build ${{ matrix.cc }}-${{ matrix.target }}-${{ matrix.variant }}
    runs-on: ${{ matrix.runner }}
    env:
      CC: ${{ matrix.cc }}
      TARGET: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set environment variables
        env:
          VARIANT: ${{ matrix.variant }}
        run: |
          case "$VARIANT" in
            kheaders)
              echo 'STACKTRACE=no' >> "$GITHUB_ENV"
              echo 'KHEADERS=torvalds/linux' >> "$GITHUB_ENV"
              ;;
            nostacktrace)
              echo 'STACKTRACE=no' >> "$GITHUB_ENV"
              ;;
            libdw)
              echo 'STACKTRACE=libdw' >> "$GITHUB_ENV"
              ;;
            libunwind)
              echo 'STACKTRACE=libunwind' >> "$GITHUB_ENV"
              ;;
          esac

      - name: install dependencies
        run: ci/install-dependencies.sh

      - name: build check
        run: ci/run-build-and-tests.sh
